body{
	background-color: #40CBD0;
}


h1{
	text-align: center;
	font-size: 50px;
}

button{
	padding: 20px;
	width: 300px;
	background-color: #B8B8B8;
	font-size: 15px;
	font-weight: bold;
}

button:hover{
	background-color: #FFFD52;
}

p{
	font-size: 20px;
	font-weight: bold;
}

.button{
	text-align: center;
	margin-top: 200px;
}

.field{
	border: solid black 4px;
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 20px;
	background-color: white;
}